<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mind"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.perturb.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".ui.perturb.Activity_Add_Perturb"
            android:parentActivityName=".ui.perturb.Activity_Perturb" />
        <activity
            android:name=".ui.perturb.Activity_Perturb"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.perturb.mood.Activity_Add_Mood"
            android:parentActivityName=".ui.perturb.mood.Activity_Mood" />
        <activity
            android:name=".ui.perturb.mood.Activity_Mood"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>